<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
{% load static %}

<nav class="navbar bg-dark navbar-dark">
	<div class="container">
	    <a href="" class="navbar-brand">IT Team Enterprise</a>
	</div>
</nav>

{% if user.authenticated %}
<!-- Jumbotron -->
<section  class="jumbotron text-center tbimg">
	<h1 class="display-3"><strong>Telebank</strong></h1>
</section>

<!-- Selection -->
<section id="gallery">	
   <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    	<img src="{% static 'images/telebankpy/cats.jpg' %}" class="cardfit">
                        <h5 class="card-title text-center"><strong>Fulfilment</strong></h5>
                        <p class="card-text">Upload <strong>data</strong> and download <strong>letters</strong></p>
                        <a href="fulfilment/" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
{{% endif %}}

{% endblock %}