<!DOCTYPE html>
{% extends 'base.html'%}
{% block body %}
{% load static %}

<!-- Selection -->

<!-- Four Paws -->
<section id="gallery">	
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                    	<img src="{% static 'images/fulfilment/fourpaws.jpg' %}" class="cardfit">
                        <h5 class="card-title"><strong>Four Paws</strong></h5>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploaddata">Go</button>
                    </div>

					<div>
						{% if records_count > 0 %}
							<h5>{{ records_count }} have been imported</h5>
						{% endif %}
					</div>
                </div>
            </div>
        </div>
    </div>
</section>


<table>
	<thead>
		<th>upload_date</th>
		<th>file_name</th>
		<th>user_id </th>
		<th>surname</th>
	</thead>
	<tbody>
		{% for record in  model2 %}
			<tr>
				<td>{{record.upload_date}}</td>
				<td>{{record.file_name}}</td>
				<td>{{record.user_id }}</td>
				<td>{{record.file_path }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<table>
	<thead>
		<th>charity_name</th>
		<th>file_name</th>
		<th>firstname</th>
		<th>surname</th>
	</thead>
	<tbody>
		{% for record in  model %}
			<tr>
				<td>{{record.charity_name}}</td>
				<td>{{record.file_name}}</td>
				<td>{{record.firstname}}</td>
				<td>{{record.surname}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>



<!-- Modal -->

<!-- FourPaws -->
<div class="modal fade" id="uploaddata" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<!-- Upload -->
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Upload Data</h5>
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form_data }}
					<div>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" name="fourpaws_upload" value="clicked">Upload</button>
					</div>
				</form>
			</div>
			<div class="modal-footer"></div>

			<!-- Download -->
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Download Letter</h5>
				</button>
			</div>
			<div class="modal-body">
				<form method="GET" enctype="multipart/form-data">
					{{ form_letter }}
					<div>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" name="fourpaws_download" value="clicked">Download</button>
					</div>	
				</form>
			</div>

		</div>
	</div>
</div>

{% endblock %}